<!-- create mask over page content when sidebar is opened, and remove sidebar when mask is clicked -->
<div ng-class="{'sidebar-mask': $ctrl.sidebar.open}" ng-click="$ctrl.closeSideBar()">
</div>

<side-bar></side-bar>

<section id="content">

    <div id="top">
        <div class="header">
            <!--<div class="fixed-header">-->


            <div>
                <ul class="header-inner">

                    <li class="menu-trigger" id="menu-trigger" ng-click="$ctrl.openSideBar()">
                        <div class="line-wrap">
                            <div class="line top"></div>
                            <div class="line center"></div>
                            <div class="line bottom"></div>
                        </div>
                    </li>

                    <li class="logo"><a href="">scripturedin</a></li>
                    <li class="pull-right hidden-xs">
                        <ul class="top-menu">
                            <li><a href ng-click="mainCtrl.showSignup()">Sign Up</a></li>
                            <li><a href ng-click="$ctrl.login()">Login</a></li>
                        </ul>

                    </li>
                </ul>

                <div class="header-content">
                    <div class="intro-text-bg">

                        <h1>Bring The Word to Life.</h1>
                        <p>Read the bible, find sermons, take notes, interact...</p>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="info">
        <div class="row">
            <div class="col-sm-4 section">
                <img ng-src="{{$ctrl.searchImg}}" alt="">

                <h3>Discover life transforming sermons.</h3>
                <p>Do you remember all your pastor’s sermon last month? How about last year? You're not alone.</p>
            </div>
            <div class="col-sm-4 section">
                <img ng-src="{{$ctrl.noteImg}}" alt="">
                <h3>Takes notes in a central place.</h3>
                <p>It's good to take notes. How about keeping them safe, organized and accessible forever.</p>
            </div>
            <div class="col-sm-4 section">
                <img ng-src="{{$ctrl.socialImg}}" alt="">
                <h3>Share and gain inspiration.</h3>
                <p>As iron sharpens iron, so one person sharpens and influences another through discussion.</p>
            </div>
        </div>


    </div>

    <footer id="footer">

        <!--<ul class="f-menu">-->
        <!--<li><a href="">About</a></li>-->
        <!--&lt;!&ndash;<li><a href="">Dashboard</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="">Reports</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="">Support</a></li>&ndash;&gt;-->
        <!--<li><a href="">Contact</a></li>-->
        <!--</ul>-->
        &copy; 2015 scripturedin
    </footer>

</section>