<div class="fab-menu">
    <md-fab-speed-dial md-open="$ctrl.isOpen" md-direction="up" class="md-fling">
        <md-fab-trigger>
            <md-button class="md-fab md-warn md-button md-ink-ripple" type="button" aria-label="Add...">
                <md-icon md-svg-src="{{::$ctrl.addSvg}}"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions ng-hide="!$ctrl.isOpen">
            <md-button ng-if="$ctrl.user.is_pastor" ui-sref="new-sermon" class="md-fab md-mini md-button md-ink-ripple" aria-label="New Sermon">
                <md-tooltip md-direction="left">
                    New Sermon
                </md-tooltip>
                <md-icon md-svg-src="{{::$ctrl.createSvg}}"></md-icon>
            </md-button>
            <md-button ui-sref="base.new-note" class="bgm-blue md-fab md-mini md-button md-ink-ripple" aria-label="New Note">
                <md-tooltip md-direction="left">
                    New Note
                </md-tooltip>
                <md-icon md-svg-src="{{::$ctrl.addNoteSvg}}"></md-icon>
            </md-button>
        </md-fab-actions>
        <div id="bookactions" ng-if="$ctrl.isOpen">
            <md-fab-actions ng-hide="!$ctrl.isOpen" ng-repeat="book in $ctrl.books.ALL">
                <md-button ui-sref="base.bible.book({book: book.abbreviation})" class="md-fab md-mini md-button md-ink-ripple book-action" aria-label="New Note">
                    <md-tooltip md-direction="left">
                        {{book.human}}
                    </md-tooltip>
                    {{book.usfm}}
                </md-button>
            </md-fab-actions>
        </div>


    </md-fab-speed-dial>
</div>