<div class="container">

    <!--<div class="block-header">-->
    <!--<h2>Data Tables-->
    <!--<small>ng-table is a powerfull AngularJs ready Data Table with tons of customizable options. Read more <a-->
    <!--target="_blank" href="http://ng-table.com/#/">here</a> for detailed documentation and HowTos...-->
    <!--</small>-->
    <!--</h2>-->

    <!--<ul class="actions m-t-20 hidden-xs">-->
    <!--<li class="dropdown" uib-dropdown>-->
    <!--<a href="" uib-dropdown-toggle>-->
    <!--<i class="zmdi zmdi-more-vert"></i>-->
    <!--</a>-->

    <!--<ul class="dropdown-menu dropdown-menu-right">-->
    <!--<li>-->
    <!--<a href="">Privacy Settings</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="">Account Settings</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="">Other Settings</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->

    <div class="card note">
        <div class="card-header">
            <h2><a ui-sref="base.notes" class="c-gray">My Notes > </a><span
                    ng-if="!notesCtrl.note.sermon">{{notesCtrl.note.title}}</span>
                <a ui-sref="base.sermon-view({id: notesCtrl.note.sermon.id})"
                   ng-if="notesCtrl.note.sermon">
                    {{notesCtrl.note.sermon.title}}
                </a>
                <small> by
                    <span ng-if="!notesCtrl.note.sermon">{{notesCtrl.note.pastor}}</span>

                    <name-tag ng-if="notesCtrl.note.sermon"
                              user="notesCtrl.note.sermon.pastor">

                    </name-tag>
                </small>

            </h2>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                      <span class="text-left f-10 m-r-20"
                            style="height: 20px">
                        Last modified: {{notesCtrl.note.modified_at | formatDate:'MMM D, YYYY [at] h:mm a'}}
                      </span>
                    <span class="text-right f-1-"
                          style="height: 20px">
                        <strong><span ng-show="notesCtrl.note.saving">Saving...</span></strong>
                    </span>
                    <wysiwyg-edit class="writenote"
                                  config="editorConfig"
                                  content="notesCtrl.note.notes">
                        <auto-save note="notesCtrl.note"></auto-save>
                    </wysiwyg-edit>
                </div>

            </div>
        </div>
    </div>

</div>


