<header ng-hide="$state.current.data.hideHeader"
        id="header"
        ng-class="{'search-toggled': appCtrl.appService.searchToggle}"
        ng-controller="headerController as headerCtrl"
        data-current-skin="blue">

    <ul class="header-inner clearfix">
        <li id="menu-trigger"
            ng-click="appCtrl.appService.sidebarToggle.left = !appCtrl.appService.sidebarToggle.left"
            data-ng-class="{ 'open': appCtrl.appService.sidebarToggle.left === true }">
            <div class="line-wrap">
                <div class="line top"></div>
                <div class="line center"></div>
                <div class="line bottom"></div>
            </div>
        </li>

        <li class="logo hidden-xs">
            <a href="/#/home">scripturedIn</a>
        </li>
        <li class="pull-right" style="margin-right:40px">
            <ul class="top-menu">

                <li id="toggle-width">
                    <div class="toggle-switch">
                        <input id="tw-switch" type="checkbox" hidden="hidden"
                               ng-checked="appCtrl.appService.layout == 1"
                               ng-click="appCtrl.switchLayout()">
                        <label for="tw-switch" class="ts-helper"></label>
                    </div>
                </li>

                 <li style="padding-top: 8px">
                    <a ui-sref="base.bible" class="bible-top-menu">
                        <md-icon style="vertical-align: inherit" md-svg-src="/img/icons/bible_white.svg"></md-icon>
                    </a>
                </li>
                <li id="top-search" style="padding-top: 8px">
                    <a href
                       data-ng-click="appCtrl.appService.searchToggle=true;">
                        <i class="tm-icon zmdi zmdi-search"></i>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- when mobile, reduce width and float right -->
    <div id="top-search-wrap" class="center-search">
        <div class="tsw-inner hidden-xs">
            <input focus type="text"
                   data-ng-keypress="headerCtrl.onSearchKeyPress($event)"
                   data-ng-model="headerCtrl.searchTerm"
                   placeholder="Search for bible verse e.g prob 31, john 3:16, mark 5:1-6"
                   style="padding: 0 10px 0 20px; font-size: 14px">
        </div>
        <div class="tsw-inner" ng-if="appCtrl.appService.searchToggle">
            <i id="top-search-close" class="zmdi zmdi-arrow-left"
               data-ng-click="appCtrl.appService.searchToggle=false"></i>
            <input focus
                   type="text"
                   data-ng-keypress="headerCtrl.onSearchKeyPress($event)"
                   data-ng-model="headerCtrl.searchTerm"
                   placeholder="Look up bible verse e.g john 3:16">
        </div>
    </div>

    <!--<div ng-include="'module/shared/header.html'"></div>-->
</header>

<section id="main">
    <aside id="sidebar" data-ng-include="'module/shared/sidebar-left.html'"
           data-ng-class="{ 'toggled': appCtrl.appService.sidebarToggle.left === true }">

    </aside>
    <section id="content" class="main-page-content" ui-view="content" autoscroll='true'>

    </section>
</section>


<div class="fab-menu">
    <md-fab-speed-dial md-open="appCtrl.fabMenu.isOpen" md-direction="up" class="md-fling">
        <md-fab-trigger>
            <md-button class="md-fab md-warn md-button md-ink-ripple" type="button" aria-label="Add...">
                <md-icon md-svg-src="/img/icons/add.svg"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions ng-hide="!appCtrl.fabMenu.isOpen">
            <md-button ng-if="authService.user.is_pastor"
                       ui-sref="base.sermon-create" class="md-fab md-mini md-button md-ink-ripple"
                       aria-label="New Sermon">
                <md-tooltip md-direction="left">
                    New Sermon
                </md-tooltip>
                <md-icon md-svg-src="/img/icons/create.svg"></md-icon>
            </md-button>
            <md-button
                    ui-sref="base.new-note"
                    class="bgm-blue md-fab md-mini md-button md-ink-ripple"
                    aria-label="New Note">
                <md-tooltip md-direction="left">
                    New Note
                </md-tooltip>
                <md-icon md-svg-src="/img/icons/note_add.svg"></md-icon>
            </md-button>
        </md-fab-actions>
        <div id="bookactions" ng-if="appCtrl.fabMenu.isOpen">
            <md-fab-actions ng-hide="!appCtrl.fabMenu.isOpen" ng-repeat="book in appCtrl.books">
                <md-button
                        ui-sref="base.bible.book({book: book.abbreviation})"
                        class="md-fab md-mini md-button md-ink-ripple book-action"
                        aria-label="New Note">
                    <md-tooltip md-direction="left">
                        {{book.human}}
                    </md-tooltip>
                    {{book.usfm}}
                </md-button>
            </md-fab-actions>
        </div>


    </md-fab-speed-dial>
</div>

