<ul class="header-inner clearfix">
    <li id="menu-trigger"
        data-target="mainmenu"
        data-toggle-sidebar=""
        data-model-left="appCtrl.sidebarToggle.left"
        data-ng-class="{ 'open': appCtrl.sidebarToggle.left === true }">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>

    <li class="logo hidden-xs">
        <a href="/#/home">scripturedIn</a>
    </li>

</ul>

<!-- when mobile, reduce width and float right -->
<div id="top-search-wrap" class="hidden-xs"
     style="position: relative; background: none;opacity:1;margin: 0 auto; width: 600px;">
    <div class="tsw-inner" style="max-width: 500px">
        <!--<i id="top-search-close" class="zmdi zmdi-arrow-left" data-ng-click="hctrl.closeSearch()"></i>-->
        <input focus type="text"
               data-ng-keypress="headerCtrl.onSearchKeyPress($event)"
               data-ng-model="headerCtrl.searchTerm"
               placeholder="Search for bible verse e.g john 3:16"
               style="padding: 0 10px 0 20px; font-size: 14px">
    </div>
</div>
