<div class="container">

    <div class="block-header">
        <h2 ng-if="$ctrl.church">Church: <strong>{{$ctrl.church.name}}</strong></h2>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Browse Sermons
                <small>View published sermons by your church. You can use the
                    <a href ng-click="$ctrl.switchView('calendar')">calendar view</a> to find sermons for a
                    particular month and year or use the
                    <a ng-click="$ctrl.switchView('table')" href>table view</a> to view all available sermons
                    at a glance.
                </small>
            </h2>


            <ul class="actions">
                <!--<li>-->
                <!--<a href="">-->
                <!--<i class="zmdi zmdi-trending-up"></i>-->
                <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="">-->
                <!--<i class="zmdi zmdi-check-all"></i>-->
                <!--</a>-->
                <!--</li>-->
                <li class="dropdown" uib-dropdown>
                    <a href="" uib-dropdown-toggle>
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <!--<li>-->
                        <!--<a href="">View sermons by Pastor</a>-->
                        <!--</li>-->
                        <!--<li>-->
                        <!--<a href="">View sermons by Church</a>-->
                        <!--</li>-->
                        <li>
                            <a href ng-click="$ctrl.switchView()">Switch to {{$ctrl.switchTo}} View</a>
                        </li>
                        <!--<li>-->
                        <!--<a href="">Widgets Settings</a>-->
                        <!--</li>-->
                    </ul>
                </li>
            </ul>
        </div>


        <!--<div class="block-header">-->
        <!---->

        <!--</div>-->
        <div class="card-body">

            <div id="calendar" data-calendar ng-if="$ctrl.layout=='calendar'" data-cal-add-sermon
                 data-events="$ctrl.sermons.sermons" data-action-links="$ctrl.actionMenu"
                 data-event-click="$ctrl.onEventSelect" data-select="$ctrl.onSelect(start, end)">
            </div>
            <div id="table" ng-if="$ctrl.layout=='table'">
                <md-table-container>
                    <table md-table md-progress="$ctrl.promise">
                        <thead md-head>
                        <tr md-row>
                            <th md-column><span>Date Created</span></th>
                            <th md-column><span>Title</span></th>
                            <th md-column><span>Pastor</span></th>
                            <th class="hidden-xs" md-column><span>Church</span></th>
                            <th class="hidden-xs" md-column><span>Views</span></th>
                            <th class="hidden-xs" md-column><span>Likes</span></th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row ng-repeat="sermon in $ctrl.sermons.sermons">
                            <td md-cell="">
                                {{sermon.created_at | formatDate}}
                            </td>
                            <td md-cell>
                                <a ui-sref="base.sermon-view({id: sermon.id})">
                                    {{sermon.title}}
                                </a>
                            </td>

                            <td md-cell>
                                <name-tag class="c-black" user="sermon.pastor"></name-tag>
                            </td>
                            <td class="hidden-xs" md-cell>
                                <a href>
                                    <span>{{sermon.church.name}}</span>
                                </a>
                            </td>
                            <td md-cell class="hidden-xs">
                                {{sermon.view_count}}
                            </td>
                            <td md-cell class="hidden-xs">
                                {{sermon.like_count}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination md-limit="$ctrl.sermons.page_size" md-page="$ctrl.page"
                                     md-total="{{$ctrl.sermons.total}}"></md-table-pagination>
            </div>
        </div>
    </div>
</div>