<div class="container">
    <div class="card p-10">
        <div class="card-header bible-header p-t-0">
            <h1>Bible</h1>
            <div>
                <input type="text" class="filter-bible" ng-model="readCtrl.filter" placeholder="filter books">
            </div>

        </div>


        <!--<div class="block-header">-->
        <!---->

        <!--</div>-->
        <div style="clear: both" class="card-body card-padding bible-toc" ng-if="!readCtrl.filter">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="m-b-20">Old Testament</h4>
                        </div>
                        <div class="col-sm-4 col-xs-4">
                            <p ng-repeat="book in readCtrl.booksOt[0]">
                                <a ui-sref="base.bible.book({book: book.abbreviation})"> {{book.human}}</a>
                            </p>
                        </div>
                        <div class="col-sm-4 col-xs-4">
                            <p ng-repeat="book in readCtrl.booksOt[1]">
                                <a ui-sref="base.bible.book({book: book.abbreviation})"> {{book.human}}</a>
                            </p>
                        </div>
                        <div class="col-sm-4 col-xs-4">
                            <p ng-repeat="book in readCtrl.booksOt[2]">
                                <a ui-sref="base.bible.book({book: book.abbreviation})"> {{book.human}}</a>
                            </p>
                        </div>

                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="m-b-20" ng-if="!readCtrl.filter">New Testament</h4>
                        </div>
                        <div class="col-sm-4 col-xs-4">
                            <p ng-repeat="book in readCtrl.booksNt[0]">
                                <a ui-sref="base.bible.book({book: book.abbreviation})"> {{book.human}}</a>
                            </p>
                        </div>
                        <div class="col-sm-4 col-xs-4">
                            <p ng-repeat="book in readCtrl.booksNt[1]">
                                <a ui-sref="base.bible.book({book: book.abbreviation})"> {{book.human}}</a>
                            </p>
                        </div>
                        <div class="col-sm-4 col-xs-4">
                            <p ng-repeat="book in readCtrl.booksNt[2]">
                                <a ui-sref="base.bible.book({book: book.abbreviation})"> {{book.human}}</a>
                            </p>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div style="clear: both" class="card-body card-padding bible-toc" ng-if="readCtrl.filter">
            <div class="row">
                <div ng-if="readCtrl.filtered.length == 0" class="col-sm-12">No books found for {{readCtrl.filter}}</div>
                <div class="col-sm-2 col-xs-4" ng-repeat="books in readCtrl.filtered">
                    <p ng-repeat="book in books">
                        <a ui-sref="base.bible.book({book: book.abbreviation})"> {{book.human}}</a>
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>
