<div class="container">
    <div class="card scripture" style="padding: 30px">
        <md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>
        <div ng-show="!$ctrl.loading && $ctrl.scripture">
            <div class="card-header">
                <h2 class="book">{{$ctrl.scripture.book}}</h2>

                <ul class="actions m-r-20">
                    <li class="dropdown" uib-dropdown>
                        <a href="" uib-dropdown-toggle>
                        {{$ctrl.scripture.version}}
                        <i class="zmdi zmdi-caret-down"></i>
                        <md-tooltip>Change translation</md-tooltip>
                    </a>

                        <ul class="dropdown-menu dropdown-menu-right translations" style="max-height: 400px; overflow-y: scroll">
                            <li ng-class="{selected: $ctrl.scripture.version == v.abbr }" ng-repeat="v in $ctrl.versions">
                                <a ng-click="$ctrl.changeTranslation(v)" href>{{::v.title}}</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>

            <div class="card-body">
                <div class="chapter">
                    <h3 class="title">Chapter {{$ctrl.scripture.chapter}}</h3>

                    <div id="verses">
                        <div ng-repeat="v in $ctrl.scripture.verses">
                            <h4 ng-if="v.heading">{{v.heading}}</h4>
                            <p id="v{{verse}}" class="verse" ng-class="{highlight: $ctrl.selected[book][verse]}">
                                <a ng-if="v.verse" href="" ng-click="$ctrl.highlight(verse, book)">
                                    <span style="margin-right: 15px">{{v.verse}}:</span>
                                </a>
                                {{v.content}}
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>