<!--<div class="modal-header">-->
<!--<h4 class="modal-title">Modal Title</h4>-->
<!--</div>-->
<div class="modal-body login-modal">
 
    <div>
       
        <div class="signup-or-separator m-b-20">
            <span class="h6 signup-or-separator--text">Enter your email address and new password</span>
            <hr>
        </div>
        <div class="m-t-10 alert alert-danger" ng-if="modalCtrl.error">
            <p ng-bind-html="modalCtrl.error"></p>
        </div>

        <div class="m-t-10 alert alert-success" ng-if="modalCtrl.success">
            <p ng-bind-html="modalCtrl.success"></p>
        </div>
        <form name="passwordResetForm" ng-submit="modalCtrl.changePassword(passwordResetForm)"
              novalidate
              style="padding: 15px">
            <div class="input-group m-b-20"
                 ng-class="{'has-error':passwordResetForm.$submitted && passwordResetForm.email.$invalid}">
                <!--<span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>-->

                <div class="fg-line">
                    <input id="email"
                           name="email"
                           ng-model="modalCtrl.email"
                           type="email"
                           required
                           placeholder="Email Address"
                           class="form-control">
                    <small ng-if="passwordResetForm.$submitted && passwordResetForm.email.$invalid"
                           class="help-block">Email is required
                    </small>

                </div>
            </div>

            <div class="input-group m-b-20"
                 ng-class="{'has-error':passwordResetForm.$submitted && passwordResetForm.password.$invalid}">
                <!--<span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>-->

                <div class="fg-line">
                    <input type="password"
                           name="password"
                           placeholder="Password"
                           ng-model="modalCtrl.password"
                           required
                           class="form-control"
                           id="password">
                    <small ng-if="passwordResetForm.$submitted && passwordResetForm.password.$invalid"
                           class="help-block">Password is required
                    </small>
                </div>
            </div>


            <div class="input-group" style="width: 100%">
                <button type="submit"
                        class="btn btn-lg btn-block btn-primary waves-effect">SUBMIT
                </button>
            </div>
        </form>
    </div>
    <hr class="m-t-5 m-b-5">
</div>
<div class="modal-footer" style="text-align: center">
   Remeber your password? <a href ng-click="modalCtrl.showLoginModal()">Login</a> <br>
</div>
<!--<div class="outer">-->
<!--<div class="middle">-->
<!--<div class="inner">-->
<!---->
<!--</div>-->
<!--</div>-->
<!--</div>-->
