<!--<div class="modal-header">-->
<!--<h4 class="modal-title">Modal Title</h4>-->
<!--</div>-->
<div class="modal-body login-modal">
 
    <div>
       
        <div class="signup-or-separator m-b-20">
            <span class="h6 signup-or-separator--text">Enter your current password and new password</span>
            <hr>
        </div>
        <div class="m-t-10 alert alert-danger" ng-if="modalCtrl.error">
            <p ng-bind-html="modalCtrl.error"></p>
        </div>

        <div class="m-t-10 alert alert-success" ng-if="modalCtrl.success">
            <p ng-bind-html="modalCtrl.success"></p>
        </div>
        <form name="passwordChangeForm" ng-submit="modalCtrl.changePassword(passwordChangeForm)"
              novalidate
              style="padding: 15px">
           
            <div class="input-group m-b-20"
                 ng-class="{'has-error':passwordChangeForm.$submitted && passwordChangeForm.password.$invalid}">
                <!--<span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>-->

                <div class="fg-line">
                    <input type="password"
                           name="currentPassword"
                           placeholder="Current Password"
                           ng-model="modalCtrl.currentPassword"
                           required
                           class="form-control"
                           id="currentPassword">
                    <small ng-if="passwordChangeForm.$submitted && passwordChangeForm.currentPassword.$invalid"
                           class="help-block">Current password is required
                    </small>
                </div>
            </div>

             <div class="input-group m-b-20"
                 ng-class="{'has-error':passwordChangeForm.$submitted && passwordChangeForm.password.$invalid}">
                <!--<span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>-->

                <div class="fg-line">
                    <input type="password"
                           name="newPassword"
                           placeholder="New Password"
                           ng-model="modalCtrl.newPassword"
                           required
                           class="form-control"
                           id="newPassword">
                    <small ng-if="passwordChangeForm.$submitted && passwordChangeForm.newPassword.$invalid"
                           class="help-block">New password is required
                    </small>
                </div>
            </div>


            <div class="input-group m-b-20"
                 ng-class="{'has-error':passwordChangeForm.$submitted && passwordChangeForm.password.$invalid}">
                <!--<span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>-->

                <div class="fg-line">
                    <input type="password"
                           name="confirmPassword"
                           placeholder="Confirm Password"
                           ng-model="modalCtrl.confirmPassword"
                           required
                           class="form-control"
                           id="confirmPassword">
                    <small ng-if="passwordChangeForm.$submitted && passwordChangeForm.confirmPassword.$invalid"
                           class="help-block">Confirm password is required
                    </small>
                </div>
            </div>


            <div class="input-group" style="width: 100%">
                <button type="submit"
                        class="btn btn-lg btn-block btn-primary waves-effect">SUBMIT
                </button>
            </div>
        </form>
    </div>
    <hr class="m-t-5 m-b-5">
</div>
<!--<div class="modal-footer" style="text-align: center">
   Remeber your password? <a href ng-click="modalCtrl.showLoginModal()">Login</a> <br>
</div> -->
<!--<div class="outer">-->
<!--<div class="middle">-->
<!--<div class="inner">-->
<!---->
<!--</div>-->
<!--</div>-->
<!--</div>-->
