<div class="row">
    <div class="col-sm-12">
    <md-switch ng-model="mainCtrl.emailNotification.post_reply"  class="md-primary md-block">
    Send me an email when someone replies to my post
  </md-switch>

  <md-switch ng-model="mainCtrl.emailNotification.new_post" class="md-primary  md-block">
    Send me an email when someone in my church creates a new post
  </md-switch>

  <md-switch  ng-model="mainCtrl.emailNotification.post_like" class="md-primary md-block">
    Send me an email when someone likes my post 
  </md-switch>


  <md-switch class="md-primary md-block"  ng-model="mainCtrl.emailNotification.mention">
    Send me an email when I am mentioned
  </md-switch>

  <md-switch ng-model="mainCtrl.emailNotification.newSermon"  class="md-primary md-block">
    Send me an email when my pastor posts a new sermon
  </md-switch>
      

    </div>

</div>